body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
}

header nav ul {
  width: 80%;
  padding: 0 0 50px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
  font-size:14pt;
}

header nav ul li a.link-selected {
  color: #ff00cf;
}

header nav ul li a:hover {
  color: #ff00cf;
}

footer {
  width: 80%;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

footer h1, footer h2 {
  margin: 0;
}

footer h1 {
  padding-top: 20px;
}

footer h2 {
  padding-top: 5px;
  color: #b3b3b3;
  font-size: 14pt;
}

.name-grid {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.name-grid svg {
  height: 80vh;
}

.unslider {
  overflow: hidden;
  position: relative;
}

.project {
  overflow-x: visible !important;
  overflow-y: visible !important;
  width: 900px;
  margin: 0 auto;
}

.project ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.project ul li div {
  background-color: lightgray;
  height: 95%;
  width: 97.5%;
}



.prev {
   border-bottom: 3px solid;
   border-left: 3px solid;
   transform: rotate(45deg);
   left: 10px;
 }

.next {
   border-bottom: 3px solid;
   border-left: 3px solid;
   transform: rotate(-135deg);
   right: 10px;
}

.unslider-arrow {
   width: 25px;
   height: 25px;
   border-color: #666;
   position: absolute;
   top: 50%;
   margin-top: -31px;
 }

 .arrow-div {
   position: absolute;
   width: 50vw;
   height: 550px;
 }

 .div-next {
   left: 50vw;
 }

 .div-prev {

 }
