body {
  font-family: "Helvetica Neue", sans-serif;
  margin: 0;
}

.extra-top-margin {
  margin-top: 30px;
}

.logo {
  position: absolute;
}

.logo svg {
  height: 45px;
}

header nav {
  position: fixed;
  top: 0;
  width: 100vw;
  background: #fff;
  z-index: 9001;
}

header nav .fixed-container, footer .footer-menu {
  position: relative;
  width: 900px;
  margin: 0 auto;
}

footer > div {
  width: 100vw;
}

footer .fixed-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
}

footer .works-footer-container {
  margin: 0 auto;
}

footer .works-footer-container .footer-menu {
  width: inherit;
}

header nav.works-nav .fixed-container, footer .works-footer-container {
  width: calc(900px * 0.95);
}

header nav ul, footer ul {
  padding: 0 0 50px;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

header nav ul li, footer ul li {
  margin-left: 15px;
}

footer ul li img {
  width: 32px;
}

footer ul li img:hover, footer ul li.resume:hover {
  opacity: 0.5;
}

footer ul li.resume {
  font-family: "Helvetica-Neue", sans-serif;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 35px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}

header nav ul li a {
  font-size:14pt;
}

header nav ul li a.link-selected {
  color: #ff00cf;
}

header nav ul li a:hover {
  color: #ff00cf;
}

.container {
  margin-top: 110px;
}

.name-grid {
  display: flex;
  justify-content: flex-start;
  width: 100vw;
  margin: 0 auto;
  position: fixed;
  top: -50px;
  left: -120px;
}

.name-grid svg {
  height: 130vh;
}

/* works page */

.unslider {
  overflow: hidden;
  position: relative;
}

.project {
  overflow-x: visible !important;
  overflow-y: visible !important;
  width: 900px;
  margin: 0 auto;
}

.project ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.project ul li div {
  height: 95%;
  width: 97.5%;
}

.project .project-image {
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project .project-gif {
  width: 62%;
  position: relative;
  top: 30px;
}

.project .info-block {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 550px;
  width: 100%;
  opacity: 1;
}

.project .info-block .info-block-text {
  height: 95%;
  width: 97.5%;
  box-sizing: border-box;
  padding: 100px 50px 0 50px;
  line-height: 25px;
  background: #ffffff;
  color: #4d4d4d;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s;
  z-index: 1000;
  font-size: 18px;
  font-family: "Avenir", sans-serif;
}

.project .info-block .info-block-text:hover {
  opacity: 0.95;
  pointer-events: auto;
}

.project .info-block .info-block-text h3 {
  color: #000;
  font-family: "Helvetica Neue", sans-serif;
}

.project .info-block .info-block-text h4 {
  font-family: "Helvetica Neue", sans-serif;
}

.project .info-block .info-block-text p a {
  color:#4d4d4d;
}

.info-icon {
  width: 23px;
  position: absolute;
  display: block;
  bottom: 25px;
  right: 20px;
  z-index: 999;
}

.info-icon img {
  width: 100%;
}

.info-icon:hover ~ .info-block-text {
  opacity: 0.95;
  pointer-events: auto;
}

.info-icon:hover {
  display: none;
}

.prev {
   border-bottom: 3px solid;
   border-left: 3px solid;
   transform: rotate(45deg);
   left: 10px;
 }

.next {
   border-bottom: 3px solid;
   border-left: 3px solid;
   transform: rotate(-135deg);
   right: 10px;
}

.unslider-arrow {
   width: 25px;
   height: 25px;
   border-color: #ededed;
   position: absolute;
   top: 50%;
   margin-top: -31px;
 }

 .arrow-div {
   position: absolute;
   width: 50vw;
   height: 550px;
 }

 .div-next {
   left: 50vw;
 }

/* about page */

 .about-container {
   width: 900px;
   margin-left: auto;
   margin-right: auto;
 }

 /* .about-info {
   width: 35vw;
 }

 .about-info ul {
   padding: 0;
 }

 .about-info ul li {
   list-style-type: none;
   line-height: 30px;
 } */

  .about-info h2 {
    font-size: 40px;
    margin-top: 150px;
  }

  .about-info p {
    line-height: 25px;
    font-size: 18px;
    font-family: "Avenir", sans-serif;
  }
/*
  .about-info h2:not(:first-of-type) {
    margin-top: 50px;
  } */

  .highlight {
    background: #ff00cf;
    color: #fff;
  }

  .contact {
    display: flex;
    flex-direction: row;
    margin-top:50px;
  }

  .contact-details {
    margin-left: 30px;
    margin-top: 10px;
  }

  .contact .contact-details h2 {
    margin: 0;
  }

  .contact .contact-details ul {
    list-style-type: none;
    padding: 0;
    line-height: 30px;
  }

  .contact .contact-details ul li a {
    text-decoration: none;
    color: #000;
  }

  .contact .contact-details ul li a:hover {
    color: #ff00cf;
  }

  .portrait-image img {
    width: 400px;
  }

/* article page */

  .article-container {
    width: 900px;
    margin: 0 auto;
  }

  .article-container .text-container {
    width: 80%;
  }

  .article-container h1 {
    padding-top: 50px;
    font-size: 40px;
  }

  .article-container h2 {
    font-weight: normal;
    color: #4d4d4d;
  }

  .article-container h3 {
    color: #ff00cf;
  }

  .article-container p {
    line-height: 20px;
    margin-bottom: 30px;
  }

  .article-container .article-image-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items:baseline;
    justify-content: center;
  }

  td, th{
    padding: 20px;
    background-color: #eee;
    color: #000;
  }

  #pink-A path{
    animation: 0.5s pinkFill forwards;
    animation-delay: 1s;
  }

  #pink-R {
    animation: 0.5s pinkFill forwards;
    animation-delay: 1s;
  }

  #T {
    animation: 0.5s pinkFill forwards;
    animation-delay: 1s;
  }

  @keyframes pinkFill {
    from {
      fill: #000;
    }

    to {
      fill: #ff00cf;
    }
  }
